<h1>PesquisaWeb</h1>

Olá <%= @indicado.nome%>.<br>

Estamos enviando esse email porque <%= @indicado.participante.nome%> te indicou para participar de nossa pesquisa.

CLique <a href="http://www.pesquisaweb.heroku.com">aqui</a> para participar.

Obrigado,
Equipe Pesquisaweb.