  <% if @participante %>
	<span id="qtde_cupons"style="font-size: 18px;">Quantidade de cupon(s): <%= @participante.total_cupons.to_s %></span>
  <% else %>
	<span id="qtde_cupons" style="font-size: 18px;">Nenhum cupom encontrado</span>
  <% end %>
