
<h1>Pesquisar Cupons</h1>
<%= form_tag('/cupons/buscar_cupons', :remote => true, :method => 'get') do %>
  <%= label_tag(:cpf, "Digite o CPF:") %>
  <%= text_field_tag :cpf %>
  <%= submit_tag 'buscar' %>
<% end %>

<div id="resultado"></div>