body {
  background: url("../images/bg-body.png") repeat scroll 0 0 transparent;
  /*background:none repeat scroll 0 0 #F1F1F1;*/
  font:13px/1.53846 "Lucida Grande","Lucida Sans Unicode",arial,sans-serif;
  color:#493F2D;
}

a {
  color: #FD6512;
  text-decoration: none;
  cursor: pointer;
}
a:hover, a:focus {
    text-decoration: underline;
}

h1 {
  font-size:32px;
  font-weight:bold;
  text-shadow: 1px 1px white;
}

h2 {
  color:#635D57;
  font-size:16px;
  font-weight:normal;  
}

body .wrapper {
  width: 950px;
  margin: 0 auto;
  /*overflow: hidden;*/
}

body .wrapper #content-wrapper {
  margin-top: 15px;
  background-color: #FFF;
  -moz-border-radius:4px 4px 4px 4px;
  border-radius:4px 4px 4px 4px;  
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-color: #E5E5E5 #DBDBDB #D2D2D2;
  border-style: solid;
  border-width: 1px;*	
}

body .wrapper #content-wrapper #form-fields #form-action {
  background-color: #EFF2F7;
  padding: 15px;
}

body .wrapper #content-wrapper #header {
  -moz-border-radius:4px 4px 0px 0px;
  border-radius:4px 4px 0px 0px;
  height: 87px;
  background-color: #F9FBFF;
  border-bottom: solid 4px #E8EEFF;
  padding: 15px;
}

body .wrapper #content-wrapper #header-bar {
  text-align: right;
  text-shadow: 0 1px 0 #FFF;
  padding: 15px;
}


body .wrapper #content-wrapper #header-bar #step_definition {
  color:#A8A8A8;
  font-size: 0.8em;
}

body .wrapper #footer{
  height: 70px;
}

body .wrapper #footer p{
  color:#A8A8A8;
  font-size: 0.8em;
  text-shadow: 0 1px 0 #FFF;
}

.left{
  float:left;
}
.right{
  float:right;
}

/* Forms */
input, textarea {
  -moz-border-radius:3px 3px 3px 3px;
  border-radius:3px 3px 3px 3px;  
  background:none repeat scroll 0 0 #fff;
  border-color: #C1C1C1 #D6D6D6 #D6D6D6 #C1C1C1;
  border-style: solid;
  border-width: 1px;
  color:#4A3F2D;
  font-size:13px;
}

input.white, textarea.white {
  -moz-border-radius:3px 3px 3px 3px;
  border-radius:3px 3px 3px 3px;  
  background:none repeat scroll 0 0 #FFFFFF;
  border:medium none;
  color:#4A3F2D;
  font-size:13px;
}

input.long {
  width:499px;
}

input.medium {
  width:273px;
}

input.small {
  width:72px;
}

textarea.medium {
  width:273px;
  height:148px;  
}

.form-text input, .form-textarea textarea {
  padding:6px 2px 6px 7px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08) inset;
 -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08) inset;
  color:#5E5E5E;
}

.form-text input:hover, .form-textarea textarea:hover {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) inset;
 -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) inset;
  color:#000;
}



.form-sublist{
  position:relative;
  overflow:hidden;
  margin-bottom:15px;
  line-height:31px;
  width:100%;
  clear:both;
}

.form-sublist label {
  float:left;
  text-align:right;  
  width:176px;
  padding-right:12px;
  font-weight: bold;  
}


.form-row {
  position:relative;
  overflow:hidden;
  margin-bottom:15px;
  line-height:21px;
  width:100%;
  clear:both;
}

.form-row.form-button {
  margin-left:290px;
  width:350px;
}

label.error {
  margin-left: 5px;
  color: #F00;
  font-size: 09px;
}

.form-row label.question {
  float:left;
  text-align:right;  
  width:176px;
  padding-right:12px;
  font-weight: bold;  
}

.form-row label.question-long {
  text-align:right;  
  line-height:41px;
  font-weight: bold;  
}

fieldset {
  clear: both;
  margin-top:10px;
  /*border-top:1px solid #E5E2DE;*/
  padding:15px;
}

fieldset:hover {
	clear: both;
	background: rgba(0, 0, 255, 0.02);
}

legend {
  text-transform:uppercase;    
  color:#8F0206;
  font-size: 2em;
  text-shadow: 1px 1px rgba(237, 237, 237, 1);
}

.button {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 14px/100% Arial,Helvetica,sans-serif;
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
.button:hover {
    text-decoration: none;
}
.button:active {
    position: relative;
    top: 1px;
}
.green {
  background: -moz-linear-gradient(center top , #7DB72F, #4E7D0E) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7DB72F', endColorstr='#4E7D0E');
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#7DB72F), to(#4E7D0E));
  background: linear-gradient(#7DB72F, #4E7D0E);
  border: 1px solid #538312;
  color: #E8F0DE;
}
.green:hover {
  background: -moz-linear-gradient(center top , #6B9D28, #436B0C) repeat scroll 0 0 transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6B9D28', endColorstr='#436B0C');
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#6B9D28), to(#436B0C));
  background: linear-gradient(#6B9D28, #436B0C);
}
.green:active {
    background: -moz-linear-gradient(center top , #4E7D0E, #7DB72F) repeat scroll 0 0 transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4E7D0E', endColorstr='#7DB72F');
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#4E7D0E), to(#7DB72F));
    background: linear-gradient(#4E7D0E, #7DB72F);
    color: #A9C08C;
}