/* CSS RESET v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END OF CSS RESET */


@font-face {
  font-family: 'QlassikMediumRegular';
  src: url('../fonts/Qlassik_TB-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Colors */
.vermelho-escuro { color: #a61c28 }
.azul-escuro { color: #195973 }
.cinza-escuro {color: #606162}
.magenta { color: #d9183b }
.azul-claro { color: #2a80ff }

.azul {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, center top, left bottom, from(#4D90FE), to(#4787ED));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(center top , #4D90FE, #4787ED) repeat scroll 0 0 transparent;
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D90FE, endColorstr=#4787ED);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4D90FE, endColorstr=#4787ED)";
  background-color: #4D90FE;
  border: 1px solid #3079ED;
  color: #FFFFFF;
}
.azul:hover {
  background: #428eff;
}
.green {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
  background: #538018;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
  background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
  color: #a9c08c;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
  background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}
.clean-red{
  color:#CB2026;
  font-size: 10px;
}

/* End of Colors*/


html, body {
  font-family: QlassikMediumRegular,'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #fff;
  color: #606162;
}
html { background: url('../images/barra-topo.gif') repeat-x; }

#wrapper {
  position: relative;
  margin:0 auto;
  width:940px;
  margin-bottom:55px;
}
#cabecalho {
  margin-top: 35px;
  padding-bottom: 30px;    
}
#cabecalho #menu {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
  width: 320px;
}
#wrapper #cabecalho ul#menu li {
  display: inline;
  list-style-image: none;
  list-style-type: none;
  padding-left:25px;
}
#wrapper #cabecalho ul#menu li a {
  text-decoration: none;
  color: #606162;
  padding: 5px;
}
#wrapper #cabecalho ul#menu li a:hover {
  text-decoration: none;
  color: #606162;
  padding: 5px;
  border-bottom: 3px solid #4787ED;
  text-shadow: 2px 2px 5px #CCCCCC;
}
#propaganda {
  width:430px;
  float:left;
}
#participante {
  position: absolute;
  top:75px;
  right:0;
  width: 360px;
  margin-top: 0px;
}
#dados{
  background-color: #E5E5E5;
  padding-top: 10px;
  padding-bottom: 10px;        
  border-top-radius: 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
div#participante div#dados form #actions-bar{
  padding-left: 40px;
}

h1 {
  color: #195973;
  font-size: 36px;
}
h2 {
  font-size: 19px;
  font-weight: normal;
  margin-top: 10px;
  text-shadow: 2px 2px 5px #CCCCCC;
}

/* Campos Formulario */
ol, ul {
  list-style: none outside none;
  text-align: left;
}
li{ padding-bottom: 10px;}
.texto_validacao {
  margin: 10px 0 0 20px;
  color: #830E14;
  font-size: 10px;
  font-family: 'Helvetica Neue',Helvetica,Arial,Geneva,sans-serif;
  text-align: center;
}
fieldset {
  padding-left: 40px;
  padding-top: 15px;
  
}
label {
  text-align: left;
  display: block;
  text-shadow: 1px 1px 0 #F9F9F9;
}
.input_text {
  color: #595959;
  font-size: 15px;
  -webkit-border-radius: .3em; 
  -moz-border-radius: .3em;
  border-radius: .3em;
  border-radius: .3em;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  height: 1.8em;
  margin-top: 5px;
  padding: 3px;
}
.button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  padding: 15px;
}
.button:hover {
  text-decoration: none;
}
.button:active {
  position: relative;
  top: 1px;
}

/* End Campos Formulario */
