<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
  <title>teste do participante</title>
	<link href="css/principal.css" media="screen" rel="stylesheet" type="text/css" />

</head>
<body>
		<div id="pesquisaweb">
			<div id="conteudo">
				<div id="cabecalho">
					<h1 class="slogan">Pesquisaweb, sua pesquisa na Internet.</h1>
				</div>
				<div id="participante">
					<div id="instrucoes">
						<h2 class="texto_instrucoes">Participe de nossa pesquisa e concorra a prêmios</h2>
						<p class="texto_validacao">(Como trata-se de uma pesquisa de exemplo, algumas validações estão desativadas.)</p>
					</div>
				
					<div id="dados">

<%= yield %>

					</div>
				</div>
				<div id="propaganda">
				</div>
				
			</div>
		</div>
</body>
</html>
