<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"><head>
  <title>teste do participante</title>
	<link href="css/principal.css" media="screen" rel="stylesheet" type="text/css" />
  <link type="text/css" href="css/smoothness/jquery-ui-1.8.11.custom.css" rel="Stylesheet" />	
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.validate.js"></script>


</head>
<body>

<%= yield %>

</body>
</html>
